@model Papeleria.MVC.Models.UsuariosVM.MostrarListadoUsuariosViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Estás seguro que quieres eliminar el usuario</h3>
<div>
    <h4>MostrarListadoUsuariosViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
            </dd>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.Nombre)
        @Html.HiddenFor(model => model.Apellido)
        <input type="submit" value="Eliminar Usuario" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
